@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d8d8d0;
}

#questionData label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: large;
}
#questionData input {
  font-size: large;
  padding: 0.25em;
}

#login label,
#signup label,
form label {
  margin: 1em;
  padding: 0.5;
  display: flex;
  flex-direction: column;
  font-size: large;
}
#signup input,
#login input,
form input {
  padding: 0.25em;
  border-radius: 0.5em;
}

.underline-slide {
  position: relative;
}
.underline-slide::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #9e4c00;
  transition: width 200ms;
}
.underline-slide:hover::before {
  width: 100%;
}

#questionCount label {
  display: grid;
  grid-template-columns: 1fr auto;
  text-align: right;
}
#questionCount input[type="radio"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-image: radial-gradient(white, white 30%, #002c83 70%);
  padding: 0.25em;
}
#questionCount input[type="radio"]:checked {
  background-image: radial-gradient(#00b80f, #00b919 30%, white 70%);
  padding: 0.25em;
}


.addBtn:hover .addBtn-add,
.addBtn:hover .addBtn-bg {
  opacity:1;
}
.addBtn:hover .addBtn-text {
  opacity:0;
}

.addBtn-text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* .slideButton span { */
  /* transition: left 200ms, top 200ms; */
  /* z-index:0; */
  /* background-color:hsl(210, 100%, 76%); */
  /* background-image:radial-gradient(ellipse at 38%, #1379ff 45%, #fff 55%, #fff 60%, hsl(200, 100%, 73%) 70%); */
  /* background-size: 250% 180%`; */
/* } */
.slideButton button {
  z-index: 1;
}


/* .svgtest{
  stroke-dasharray: 100 300;
  stroke-dashoffset: -200;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke:#00aaff;
  transition:all;
  transition-duration: 500ms;
}
.svgtest:hover{
  stroke-dashoffset: -0;
  stroke-dasharray: 1000;
}
@keyframes test {
  to {
    stroke-dashoffset: 0;
  } 
} */